@using ListaDeCompra.WebApp.ModuloItens.Apresentacao
@using ListaDeCompra.WebApp.ModuloItens.Dominio
@using ListaDeCompra.WebApp.ModuloLista.Apresentacao
@{
    Layout = "_Layout";
    ViewBag.Titulo = "Itens da Lista";
}

<a class="btn btn-outline-primary rounded-pill px-4 mb-3" asp-action="Cadastrar">Cadastrar Novo</a>

@if (Model.Count == 0)
{
    <div class="alert alert-primary border-start border-primary border-4 rounded-3" role="alert">
        Nenhum item cadastrada.
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle bg-white">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Preço Total</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ListarItensViewModel i in Model)
                {
                    <tr>
                        <td>@i.Id</td>
                        <td>@i.Produto</td>
                        <td>@i.PrecoTotal.ToString(format: "C2")</td>
                        <td>@i.Quantidade</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a class="btn btn-outline-primary btn-sm rounded-pill px-3" asp-action="Excluir"
                                   asp-route-id="@i.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}